.header {
  padding: 58px 0 0;
  text-align: left;
  border-bottom: 1px solid transparent;
  position: relative;
}

.title {
  font: bold 38px/1.12 "ff-tisa-web-pro", Cambria, Georgia, Cochin, Times,
    "Times New Roman", "Hiragino Mincho", "Hiragino Sans GB",
    "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei",
    serif;
  color: var(--c-title);
}

.description {
  margin: 0.2em 0 0;
  color: var(--c-description);
}

.navMenu {
  margin: 10px 0 -1px;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  font: "ff-tisa-web-pro", Cambria, Georgia, Cochin, Times, "Times New Roman",
    "Hiragino Mincho", "Hiragino Sans GB", "Source Han Sans CN",
    "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", serif;
}

.navMenu a {
  display: inline-block;
  padding: 3px 20px 3px;
  line-height: 20px;
  color: var(--c-meta);
  font-size: 15px;
  border: 1px solid transparent;
}

.button {
  display: inline-block;
  border: 0;
  background: 0 0;
  line-height: 20px;
  color: var(--c-meta);
  font-size: 15px;
  cursor: pointer;
}

.button span {
  vertical-align: sub;
}

@media print, screen and (max-width: 48em) {
  .sitename {
    margin-bottom: 20px;
    text-align: center;
  }
  .navMenu {
    position: relative;
    text-align: center;
  }

  .navMenu a:not(:last-child) {
    padding: 0 10px;
    line-height: 27px;
    height: 27px;
    font-size: 15px;
  }

  .button {
    line-height: 27px;
    height: 27px;
    font-size: 15px;
  }
}
