:root {
  --c-bg: #ffffff;
  --c-title: #555;
  --c-meta: #6e7173;
  --c-content: #444;
  --c-content-a: #444;
  --c-nav: #eee;
  --c-nav-a: #555;
  --c-pre: #888;
  --c-widget-title: #6e7173;
  --c-footer: #6e7173;
  --c-description: #999;
  --c-category-title: #888;
  --c-code-bg: #f7f8f8;
  --c-code-border: #dadada;
}

html.dark {
  --c-bg: #22272e;
  --c-title: #adbac7;
  --c-meta: #c8d1da;
  --c-content: #ebf0f5;
  --c-content-a: #ebf0f5;
  --c-nav: #f2f7fd;
  --c-nav-a: #adbac7;
  --c-widget-title: #c8d1da;
  --c-footer: #c8d1da;
  --c-category-title: #b4c7da;
  --c-description: #ebedef;
  --c-pre: #e0eeee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--c-bg);
}

a {
  color: var(--c-meta);
  background-color: transparent;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-container {
  padding: 0 60px;
  max-width: 1150px;
  margin: 0 auto;
}

@media print, screen and (max-width: 48em) {
  .body-container {
    padding: 0 30px;
  }
}

pre {
  overflow: auto;
  overflow-wrap: break-word;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  white-space: pre-wrap;
}

pre code {
  white-space: pre-wrap;
  font-family: "Courier", monospace;
  font-size: 14px;
}

p code {
  font-size: 0.8em;
  font-family: "Courier", monospace;
  margin: 0 3px;
  padding: 1px 4px;
  background: var(--c-code-bg);
  border: 1px var(--c-code-border);
  border-radius: 2px;
}
